JWT_SECRET=
JWT_ACCESS_TOKEN_MINUTES=20
JWT_REFRESH_TOKEN_DAYS=7
JWT_ISSUER=tacos-lab-api

SPRING_PROFILES_ACTIVE=dev

REFRESH_COOKIE_NAME=le_tacos_refresh
REFRESH_COOKIE_PATH=/api/auth
REFRESH_COOKIE_SECURE=false
REFRESH_COOKIE_SAME_SITE=Lax

CORS_ALLOWED_ORIGIN=http://localhost:4200

ADMIN_EMAIL=
ADMIN_INITIAL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=le-tacos

DB_URL=jdbc:postgresql://localhost:5432/le_tacos
DB_USERNAME=
DB_PASSWORD=
